* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

#container {
    background: url("./img/background.jpeg");
    padding-bottom: 140px;
}

#botao-entrar {
    background-color: #e50914;
    font-size: 16px;
    padding: 8px 18px;
    border: none;
    border-radius: 3px;
    float: right;
    cursor: pointer;   
}

#cabecalho {
    padding: 28px 56px;
}

h1 {
    text-align: center;
    font-size: 56px;
    width: 700px;
    margin: auto;
    margin-top: 80px;
}

#paragrafo-assista {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

#paragrafo-pronto {
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
}

input {
    width: 450px;
    padding-left: 10px;
}

#botao-email {
    width: 200px;
    background-color: #e50914;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

#botao-email:hover {
   opacity: 0.6;
}

#formulario {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 60px;
}

#rodape {
    background-color: black;
    border-top: 8px solid #303030;
    padding: 70px 0;
}

h2 {
    font-size: 45px;
    text-align: center;
}

#botao-pergunta {
    width: 700px;
    height: 70px;
    background-color: #303030;
    border: none;
    font-size: 24px;
    margin-top: 40px;
    text-align: left;
    padding: 0 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#img-pergunta {
    float: right;
    margin-top: 5px;
    transform: rotate(45deg);
}

#img-pergunta-girar {
    float: right;
    margin-top: 5px;
    transform: rotate(90deg);
}

#pergunta {
    width: 700px;
    background-color: #303030;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    padding: 24px;
    font-size: 24px;
    display: none;
}